.faqItem {
  border-radius: var(--space-2);
  box-shadow: var(--shadow-md);
  margin-bottom: 15px;
}

.faqQuestion {
  width: 100%;
  padding: var(--space-4) var(--space-6);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-bold);
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faqQuestion.active {
  color: var(--primary);
}
.faqQuestion.active ~ p{
  height: auto;
  padding: var(--space-4);
}

.icon {
  background-color: var(--primary);
  padding: var(--space-2);
  color: var(--bg-color);
  border-radius: var(--radius-round);
  transition: .3s ease-out;
}

.faqQuestion.active .icon {
  transform: rotate(90deg);
  background-color: var(--bg-color);
  color: var(--text-dark);
  border: 1px solid var(--primary);
}

.faqAnswer {
  color: var(--text-dark);
  height: 0;
  overflow: hidden;
  border-right: 8px solid var(--primary);
  transition: .3s ease-out;
}

.faqButton {
  text-align: center;
  padding: var(--space-6) 0;
}

.faqButton button {
  max-width: 100%;
}