.inputs {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: var(--space-6);
    padding: var(--space-6) 0;
}

.inputs .inputHead {
    flex: 1 1 100px;
}

.inputs .inputHead span {
    display: flex;
    align-items: center;
    gap: var(--space-3);
    font-weight: bold;
    font-size: var(--font-size-body);
    color: var(--text-dark);
    margin-bottom: var(--space-3);
}

select {
    padding: var(--space-3) var(--space-4);
    border-radius: var(--radius-sm);
    font-size: var(--font-size-body);
    font-weight: var(--font-sweight-bold);
    width: 100%;
}

select:nth-child(3) {
    flex-grow: 1;
}

select option {
    border: 1px solid var(--main-color);
    font-size: 1rem;
    font-weight: bold;
}

.inputs .send {
    flex: 1 0 auto;
}

@media(max-width: 768px) {
.inputs {
}
}