.contact {
 .notContact {
    width: 60vw;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 4px dotted #333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--danger);
 }
}

