.btn {
  --hero-size: 360px;
  --color: #fff;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: fit-content;
  position: relative;
  transition: all 0.2s ease-in-out;
  border-radius: var(--radius-md);
  cursor: pointer;
  border: none;
  max-width: 100%;
}

/* Sizes */
.btn-sm {
  font-size: var(--font-size-tiny);
  padding: var(--space-1) var(--space-8);
}

.btn-md {
  font-size: var(--font-size-small);
  padding: var(--space-2) var(--space-4);
}

.btn-lg {
  font-size: var(--font-size-body);
  padding: var(--space-3) var(--space-8);
}

.btn-hero {
  font-size: var(--font-size-h6);
  padding: var(--space-2) var(--space-8);
  width: var(--hero-size);
}

.btn-full {
  width: 100%;
}

.icon {
  display: flex;
  align-items: center;
}

/* Variants */
.btn-contained {
  color: var(--color);
}

.btn-outlined {
  background: transparent;
  border: 0.1rem solid currentColor;
}

.btn-outlined:hover {
  border-color: transparent;
}
.btn-text {
  background: transparent;
  border: none;
}

/* Colors */
.btn-primary {
  background: var(--primary);
  color: var(--color);
}

.btn-contained.btn-primary {
  background-color: var(--primary);
  color: var(--color);
}

.btn-primary:hover,
.btn-contained.btn-primary:hover,
.btn-outlined.btn-primary:hover {
  background-color: var(--primary-dark);
  color: var(--color);
}

.btn-outlined.btn-primary {
  background-color: transparent;
  color: var(--primary);
}

.btn-text.btn-primary {
  background-color: transparent;
  color: var(--primary);
}

.btn-secondary {
  background: var(--secondary);
  color: var(--color);
}

.btn-outlined.btn-secondary {
  background-color: transparent;
  color: var(--secondary);
}

.btn-secondary:hover,
.btn-outlined.btn-secondary:hover {
  background: var(--secondary);
  color: var(--color);
}

.btn-text.btn-secondary {
  background-color: transparent;
  color: var(--secondary);
}

.btn-danger {
  background: var(--danger);
  color: var(--color);
}

.btn-contained.btn-danger {
  background-color: var(--danger);
  color: var(--color);
}

.btn-outlined.btn-danger {
  background-color: transparent;
  border: 1px solid currentColor;
  color: var(--danger);
}

.btn-danger:hover,
.btn-outlined.btn-danger:hover,
.btn-text.btn-danger {
  background: var(--danger-dark);
  color: var(--color);
}

.btn-text.btn-danger {
  background-color: transparent;
  color: var(--danger);
}

/* Disabled */
.btn:disabled {
  background: var(--disabled-bg);
  color: var(--disabled-text);
  cursor: not-allowed;
}
