a.button  {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: var(--main-color);
  border: 1px solid #999;
  border-radius: var(--s-radius);
  letter-spacing: 6px;
  cursor: pointer;
  position: relative;
}

a.fill {
  color: inherit;
  background: transparent;
}

a.fill:hover {
  color: #fff;
}

a.fill:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--main-color);
    border-radius: inherit;
    z-index: -1;
    transition: .5s;
}

a.fill:hover:after {
  width: 100%;
}