.arrivalGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--space-8);
}

.arrivalGrid .arrivalInfo {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.arrivalGrid .arrivalInfo h2 span {
  color: var(--primary);
  display: block;
}

.arrivalGrid .arrivalInfo button {
  width: var(--hero-size);
}

.arrivalGrid .arrivalInfo button:hover svg {
  transform: translatex(-4px);
}

.arrivalGrid .arrivalInfo button svg {
  transition: 0.3s ease;
}

.arrivalGrid .arrivalInfo button svg path {
  fill: var(--bg-color);
}

.arrivalGrid .arrivalImg {
  text-align: left;
}

.arrivalGrid .arrivalImg img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* ============ Start Customer Section ============*/
.customerService {
  background-color: var(--bg-dark);
  color: var(--bg-color);
}

.customerService * {
  color: inherit;
}

.customerService .customerGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--space-8);
}

/* Info Style */
.customerService .customerGrid .info {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.customerService .customerGrid .info h2 span {
  color: var(--primary);
  display: block;
}

.customerService .customerGrid .info ul {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  margin-top: var(--space-4);
}

.customerService .customerGrid .info ul li {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  font-size: var(--font-size-body);
  color: hsl(215, 15%, 65%);
  text-wrap: balance;
}

.customerService .customerGrid .info ul li span {
  color: var(--primary);
  display: inline-flex;
  gap: var(--space-1);
}

.customerService .customerGrid .buttons {
  margin-top: var(--space-8);
  display: flex;
  gap: var(--space-4);
  button {
    flex: 1;
  }
}
/* Img Style*/
.customerService .customerGrid .customerImg img {
  object-fit: cover;
  width: 100%;
  height: 400px;
}
/* ============ End Customer Section ============*/

/* Mobile Media */
@media (max-width: 768px) {
  .arrivalGrid .arrivalInfo {
    justify-content: center;
    align-items: center;
    :is(h2, p) {
      text-align: center;
    }
  }

  .arrivalGrid .arrivalImg {
    display: none;
  }

  
}

@media (max-width: 900px) {
  .customerService .customerGrid {
    .info {
      h2 {
        text-align: center;
      }
    }
    .customerImg {
      display: none;
    }
    .buttons {
      flex-direction: column;
      button {
        width: 100%;
      }
    }
  }
  
} 