/* Start Sidebar Style */
aside {
  position: fixed;
  height: 100vh;
  width: 280px;
  padding: var(--space-12) var(--space-8) var(--space-8);
  background: #222a3d;
  color: #fff;
  transition: 0.3s ease-in-out;
  z-index: 998;
}

aside.show {
  transform: translateX(0);
}

aside ul.mainList {
  margin-top: var(--space-12);
}

aside ul.mainList > li {
  font-size: var(--font-size-body);
  padding: var(--space-2) var(--space-6);
  font-weight: var(--font-weight-bold);
  border-radius: var(--radius-md);
  width: fit-content;
  transition: 0.3s ease;
  width: 200px;
}

aside ul.mainList > li ul {
  padding-right: var(--space-3);
}

aside ul.mainList > li ul li {
  margin: var(--space-3) 0;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  border-radius: var(--radius-sm);
}

aside ul.mainList > li ul li a {
  padding: var(--space-2) var(--space-4);
  width: 100%;
  display: block;

}

aside ul.mainList > li ul li a:hover {
  background-color: #000;
}
aside ul li a {
  color: inherit;
}

@media (max-width: 1200px) {
  aside {
    transform: translateX(100%);
  }
}
/* End Sidebar Style */
