.contact {
 .notContact {
    width: 60vw;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 4px dotted #333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--danger);
 }
}

.table {
  width: 100%;
  border-radius: var(--radius-md);
  color: var(--text-dark);
  padding: var(--space-4) 0;
}

.table thead th {
  background-color: var(--blue-effect);
}

.table tr th,
.table tr td {
  font-size: var(--font-size-small);
  border: 1px solid #999;
  padding: var(--space-2);
}
.table tr th {
  font-weight: var(--font-weight-bold);
  border-bottom: 2px solid #eee;
}
.table tbody td {
  text-align: center;
  font-weight: var(--font-weight-medium);
}
.table tbody td img {
  width: 40px;
  height: 40px;
  border-radius: var(--radius-round);
  box-shadow: var(--shadow-sm);
}


@media (max-width: 900px) {
  .table thead :is(th:nth-child(10),th:nth-child(9),th:nth-child(5),th:nth-child(4)),
  .table tbody :is(td:nth-child(10),td:nth-child(9),td:nth-child(5),td:nth-child(4)) {
    display: none;
  }
}