.services {
  position: relative;
  background-color: var(--bg-dark);
  color: var(--bg-color);
}

.services::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 123, 255, 0.1);
  pointer-events: none;
}

.servicesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--space-6);
}

.servicesGrid .servicesCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--space-4);
}

.servicesGrid .servicesCards header {
  grid-column: 1/-1;
}

.servicesGrid .servicesCards .card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  padding: var(--space-4);
  color: #fff;
  border: 1px solid var(--primary);
  border-radius: var(--radius-md);
  transition: all 0.5s ease;
}

.servicesGrid .servicesCards .card:hover {
  box-shadow: var(--shadow-primary);
  background-color: rgba(25, 118, 210, 0.08);
}

.servicesGrid .servicesCards .card > span {
  font-size: var(--font-size-body);
  color: var(--bg-color);
  background-color: var(--primary);
  border-radius: var(--radius-sm);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servicesGrid .servicesCards .card strong {
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-bold);
  margin-top: var(--space-4);
}

.servicesGrid .servicesCards .card > p {
  min-height: 80px;
}

.servicesGrid .servicesCards .card button {
  width: fit-content;
}

.servicesGrid .servicesCards .card button a {
  transition: .3s ease;
}

.servicesGrid .servicesCards .card button a:hover  {
  transform: translateX(8px);
}

.servicesImg {
  display: flex;
  align-items: flex-end;
}
.servicesImg img {
  object-fit: cover;
  height: 80%;
  width: 100%;
}
/* ================ End Panner Style =================== */
/* mobile media */


@media (max-width: 768px) {
.servicesGrid .servicesCards {
  grid-template-columns: 1fr 1fr;
}
.servicesImg {
  display: none;
}
}
