
.services header {
    margin-bottom: 30px;
}

.services header h4 {
    font-size: 3rem;
    color: var(--main-color);
}

.services header p {
    font-size: 1.5rem;
    color: var(--text-color)
}

.services-cards {
  perspective: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.services-cards .card {
  position: relative;
  width: 300px;
  height: 400px;
  transform-style: preserve-3d;
  transition: all .5s ease;
}

.services-cards .card:hover {
    transform: rotateY(180deg);
}

.services-cards .front,
.services-cards .back {
  position: absolute;
  width: inherit;
  height: inherit;
  backface-visibility: hidden;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 24px;
  transition: all .5s ease;
}


.services-cards .front h4,
.services-cards .back h4 {
    font-size: 1.5rem;
    font-weight: bold;
}

.services-cards .back h4 {
    margin-bottom: 16px;
    color: var(--main-color);
}

.services-cards .back p {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: bold;
}
.services-cards .front {
    position: absolute;
    display: flex;
    align-items: flex-end;
    font-weight: 1000;
    height: 100%;
    color: #fff;
}

.services-cards .front img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.services-cards .front img::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: -1;
}
.services-cards .back {
    transform: rotateY(180deg);
}

.services-cards .back img {
    max-width: 200px;
}