.home {
  min-height: 100vh;
  position: relative;
}

/* Start Hero Style */
.hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--space-10);
  padding: 160px 10% 60px;
  position: relative;
  background: linear-gradient(135deg, #cce0ff 0%, #e6f2ff 50%, #ffffff 100%);
}

.hero .heroBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  top: 0;
  left: 0;
}

.hero .heroBackground .icon {
  opacity: 0.1;
  position: absolute;
}

.hero .heroBackground .icon:first-child {
  bottom: 30px;
  left: 30px;
}

.hero .heroBackground .icon:nth-child(2) {
  right: 30px;
  top: 130px;
}

.hero .heroBackground .icon:nth-child(3) {
  left: 30px;
  top: 130px;
}


.hero_text {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--space-8);
  color: var(--text-dark);
}

.hero_text * {
  margin: 0;
}

.hero_text h1 {
  opacity: 0;
  animation: fadeInRight 1s ease-in-out;
  animation-fill-mode: forwards;
  text-shadow: var(--text-shadow);
  text-align: center;
}

.hero_text p {
  opacity: 0;
  animation: fadeInRight 1s 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.hero_text .future {
  display: flex;
  gap: var(--space-6);
  margin-top: var(--space-6);
}

.hero_text .future li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2);
  font-size: var(--font-size-small);
}

.hero_text .future li span {
  display: flex;
  gap: var(--space-2);
}

.hero_text .future li .icon {
  color: var(--secondary);
}

.hero_text .future li:first-child {
  opacity: 0;
  animation: fadeInRight 1s 1s ease-in-out;
  animation-fill-mode: forwards;
}

.hero_text .future li:nth-child(2) {
  opacity: 0;
  animation: fadeInRight 1s 1.5s ease-in-out;
  animation-fill-mode: forwards;
}

.hero_text .future li:nth-child(3) {
  opacity: 0;
  animation: fadeInRight 1s 2s ease-in-out;
  animation-fill-mode: forwards;
}

.hero_text .btns {
  display: flex;
  gap: var(--space-6);
  margin-top: var(--space-6);

}

.hero_text .btns button:first-child {
  opacity: 0;
  animation: fadeInRight 1s 3s ease-in-out;
  animation-fill-mode: forwards;
}

.hero_text .btns button:last-child {
  opacity: 0;
  animation: fadeInRight 1s 2.5s ease-in-out;
  animation-fill-mode: forwards;
}
.hero .heroImg {
  opacity: 0;
  position: relative;
  animation: fadeInLeft 2s ease-in-out;
  animation-fill-mode: forwards;
}

.hero .heroImg img {
  max-width: 100%;
  object-fit: cover;
}

.hero .heroImg svg {
  position: absolute;
  top: 55%;
  left: 55%;
  width: 600px;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: 0.2s ease-in-out;
}

.hero .heroImg + div {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

/* Hero Animation */
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* End Hero Style */
.whatsappIcon {
  position: fixed;
  top: 600px;
  left: 1%;
  padding: var(--space-2);
  z-index: 10000;
}

.whatsappIcon .icon {
  font-size: 60px;
  color: green;
  background-color: #fff;
  border-radius: 4px;
  padding: 8px;
}

/* Start Numbers Section Style */
.numbers {
  background: linear-gradient(135deg,#e8f5e9,#c8e6c9)
}

.numbers .grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-12);
}

.numbers ul {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: var(--space-12);
  align-items: center;
}

.numbers ul li {
  font-size: var(--font-size-h4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numbers ul li span {
  font-weight: 1000;
  font-size: var(--font-size-h2);
  color: var(--primary);
  transition: 2s ease;
}
/* End Numbers Section Style */
/* mobile media */
@media (max-width: 768px) {
.hero_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero_text p {
  text-align: center;
}
  .hero_text .btns {
    flex-direction: column;
    width: 100%;
  }

.hero_text .future {
  flex-direction: column;
  width: 100%;
}
.hero_text .future li {
  font-size: var(--font-size-tiny);
  flex-direction: row;
}

.hero_text .future li {
  text-align: center;
}
.hero .heroImg + div {
  display: none;
}

.hero .heroImg svg {
  display: none;
}
}
@media (max-width: 900px) {
  .hero > svg {
    display: none;
  }
  .hero_text {
    color: var(--text-color);
  }
.numbers ul {
  grid-template-columns: 1fr;
}
}
