header.navbar {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 10000;
  backdrop-filter: blur(48px);
  color: var(--text-dark);
  transition: 1s ease;
  padding: 0;
  margin: 0;
  .container {
    width: 90%;
    margin: auto;
  }
  &.scroll {
    box-shadow: var(--shadow-lg);
  }
  * {
    color: inherit;
  }
  .logo {
    height: 80px;
    width: 300px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .links li {
    position: relative;
    font-size: var(--font-size-body);
    padding: var(--space-2) var(--space-4);
    &:hover {
      color: var(--primary);
    }
    .icon {
      margin-right: var(--space-3);
      transition: 0.3s ease;
    }
    &.active .icon {
      transform: rotate(-90deg);
    }
    &.active .dropdown {
      grid-template-rows: 1fr;
    }

    .dropdown {
      display: grid;
      grid-template-rows: 0fr;
      position: absolute;
      top: 100%;
      left: 0%;
      z-index: 10000;
      width: 200px;
      background-color: var(--bg-color);
      border-radius: var(--radius-md);
      box-shadow: var(--shadow-lg);
      animation: fadeIn 0.5s ease-in-out;
      transition: 0.3s ease;
      > div {
        overflow: hidden;
        li {
          a {
            text-align: center;
            padding: var(--space-2) 0;
            display: block;
            transition: 0.3s ease;
            color: var(--text-dark);
            &:hover {
              background: hsl(from var(--primary) h s l / 0.3);
              border-radius: var(--radius-sm);
            }
          }
        }
      }
    }
  }
  .links .btn {
    display: flex;
    gap: var(--space-2);
  }
  .toggle_mobile {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}

@media (max-width: 1200px) {
header.navbar {

  .links {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    gap: var(--space-4);
    position: absolute;
    left: 0;
    top: 100%;
    transform: translateX(-100%);
    width: 100%;
    padding: var(--space-4);
    background-color: var(--bg-color);
    box-shadow: var(--shadow-lg);
    transition: .6s ease;
    &.open {
      transform: translateX(0);
    }
    li {
      .dropdown {
        position: relative;
        left: 0;
        top: 0;
        box-shadow: none;
      > div {

        li {
          a {
            text-align: right;
            padding: var(--space-2) var(--space-4);
          }
        }
      }
      } 
    } 
    .btn {
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }
}

  header.navbar .toggle_mobile {
    display: block;
  }
}
