header.navbar {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 10000;
  backdrop-filter: blur(48px);
  color: var(--text-dark);
  transition: 1s ease;
  padding: 0;
  .container {
    width: 90%;
    margin: auto;
  }
  &.scroll {
    box-shadow: var(--shadow-lg);
  }
  * {
    color: inherit;
  }
  .logo {
    height: 80px;
    width: 300px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .links li {
    position: relative;
    font-size: var(--font-size-body);
    padding: var(--space-2) var(--space-4);
    &:hover {
      color: var(--primary);
    }
    .icon {
      margin-right: var(--space-3);
      transition: 0.3s ease;
    }
    &.active .icon {
      transform: rotate(-90deg);
    }
    &.active .dropdown {
      grid-template-rows: 1fr;
    }

    .dropdown {
      display: grid;
      grid-template-rows: 0fr;
      position: absolute;
      top: 100%;
      left: 0%;
      z-index: 10000;
      width: 200px;
      background-color: var(--bg-color);
      border-radius: var(--radius-md);
      box-shadow: var(--shadow-lg);
      animation: fadeIn 0.5s ease-in-out;
      transition: 0.3s ease;
      > div {
        overflow: hidden;
        li {
          text-align: center;
          a {
            padding: var(--space-2) 0;
            display: block;
            transition: 0.3s ease;
            color: var(--text-dark);
            &:hover {
              background: hsl(from var(--primary) h s l / 0.3);
              border-radius: var(--radius-sm);
            }
          }
        }
      }
    }
  }
  .links .btn {
    display: flex;
    gap: var(--space-2);
  }
  .toggle_mobile {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}

@media (max-width: 1200px) {
  header.navbar {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0;
    height: 60px;
    transition: 0.3s ease;
    background-color: var(--bg-color);
    > .container {
      width: 100%;
      height: 100%;
    }
    .links {
      display: flex;
      justify-content: space-between;
      overflow-x: auto;
      height: 100%;
      width: 100%;
      scroll-snap-type: x mandatory;
      scrollbar-width: thin;

      li {
        flex: 0 0 auto;
        scroll-snap-align: start;
        .icon {
          display: none;
        }

        .dropdown {
          width: 100%;
          left: 0;
          position: fixed;
          border-radius: 0;
          height: 60px;
        }

        &.active .dropdown {
          top: -60px;
          
          > div {
            background: hsl(from var(--primary) h s l / .5);
            overflow-x: auto;
            scrollbar-width: thin;
            display: flex;
            gap: var(--space-2);
            li {
              height: 100%;
              padding: 0;
              a {
                height: inherit;
                display: flex;
                align-items: center;
                padding: var(--space-2) var(--space-4);
              }
            }
          }
        }
      }
      .btn {
        display: none;
      }
    }
    .logo {
      display: none;
    }
  }

  .toggle_mobile {
    display: block;
  }
}
