header.navbar {
  width: 100%;
  height: auto;
  padding: 10px 0;
  position: fixed;
  z-index: 1000;
  background-color: #eee;
  position: relative;
  transition: 2s;
}

header .navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .navbar-container .logo {
  height: 80px;
  width: 300px;
  }

header .navbar-container .logo img {
  max-width: 100%;
  max-height: 100%;
}

header .navbar-container .nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}

header .navbar-container .nav-links>li {
  align-items: center;
  font-size: 1rem;
  margin-left: 16px;
  color: var(--text-color);
  padding: 12px;
  border-radius: var(--s-radius);
  cursor: pointer;
  position: relative;
  transition: .5s ease;
}

header .navbar-container .nav-links>li:hover,
header .navbar-container .nav-links>li:hover>a {
  color: #fff;
  background-color: var(--main-color);
}

header .navbar-container .nav-links li .icon {
  margin-right: 12px;
}

header .navbar-container .nav-links li ul {
  list-style: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  background-color: var(--main-color);
  border-radius: var(--s-radius);
  position: absolute;
  top: 100%;
  left: 0%;
  transition: 0.5s;
  display: none;
  z-index: 10000;
}

header .navbar-container .nav-links li:hover ul {
  display: block;
}

header .navbar-container .nav-links li ul li {
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 4px 12px;
  background-color: #fff;
  color: var(--text-color);
  width: fit-content;
  width: 200px;
  text-align: center;
}

header .navbar-container .nav-links li ul li:hover {
  background-color: #ddd;
}

header .navbar-container .nav-links li ul li a {
  color: inherit;
}

.toggle-mobile {
  display: none;
}

header .navbar-container .nav-links .nav-item .nav-link .icon {
  margin-right: 12px;
}

@media (max-width: 1200px) {
  header .navbar-container .nav-links {
    flex-direction: column;
    align-items: flex-start;
    background-color: #eee;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding-right: 5%;
    transition: 0.5s;
  }

  

  header .navbar-container .nav-links.close {
    transform: translateY(-200%);
  }

  header .navbar-container .nav-links>* {
    margin-bottom: 16px;
    transition: inherit;

  }

  header .navbar-container .nav-links>*:hover {
    transform: translateX(-16px);
  }

header .navbar-container .nav-links li ul {
  position: relative;
}

header .navbar-container .nav-links li:hover ul {
  display: block;
}
  .toggle-mobile {
    display: block;
  }
}