.rec-header::after {
  background: url("../../../public/imgs/تعاقد.webp");
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rec-header::before,
.rec-header::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.rec-header::before {
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1;
}

.Recruitment_about .rec-start {
  position: relative;
}

.rec-start .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.rec-start img {
  height: 400px;
  width: 400px;
  border-radius: var(--s-radius);
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: var(--box-shadow);
}

.rec-start .info {
  padding: 60px 60px 60px 100px;
  border-radius: var(--s-radius);
  box-shadow: var(--box-shadow);
  position: relative;
  background-color: var(--sub-color);
}

.rec-start .info p {
  font-size: 1rem;
}

.rec-start .info::before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: -20px;
  width: 100%;
  height: 100%;
  border: 4px solid transparent;
  border-right-color: var(--main-color);
  border-bottom-color: var(--main-color);
  opacity: 0.5;
}

@media (max-width: 1000px) {
  .rec-start img {
    display: none;
  }
}

.rec-proc {
  padding: 30px 0 0;
}

.rec-proc h3 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.rec-proc .rec-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

.rec-proc .rec-grid > div {
  box-shadow: var(--box-shadow);
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  transition: 0.5s ease;
  border-radius: var(--s-radius);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--secondary-color);
  width: 300px;
}

@media (max-width: 1738px) {
.rec-proc .rec-grid > div:nth-child(5) {
  grid-column: 2 / 3;
}
.rec-proc .rec-grid > div:last-child {
  grid-column: 3 / -1;
}
}
@media (min-width: 1738px) and (max-width: 2089px) {
.rec-proc .rec-grid > div:last-child {
  grid-column: 3 / -1;
}
}

.rec-proc .rec-grid > div h4 {
  width: 30px;
  height: 30px;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: var(--main-color);
  color: #fff;
}

.rec-proc .rec-grid > div span {
  margin: 16px 0;
  display: block;
  color: var(--main-color);
  font-weight: bold;
}
.rec-proc .rec-grid > div p {
  font-size: 0.8rem;
  text-align: center;
}

.rec-proc .rec-grid > div:hover {
  transform: scale(1.02);
  background-color: var(--main-color);
  color: #fff;
}

.rec-proc .rec-grid > div:hover span {
  color: #fff;
}

.rec-proc .rec-grid > div:hover h4 {
  background-color: #fff;
  color: var(--main-color);
}

.rec-proc svg {
  margin-top: 100px;
}

.Recruitment_about .statistics {
  margin-top: -140px;
}
