
.ctaSection {
  background: linear-gradient(
  135deg,
  var(--bg-color),
  hsl(from var(--primary) h s l / .3)
  );
  padding: 100px 0;
}

.ctaSection .grid {
  flex-direction: column;
  gap: var(--space-6);

}

.ctaSection h2 {
  text-align: center;
}
.ctaSection h2 span {
    color: var(--primary);
}
.ctaSection p {
  font-size: var(--font-size-body);
  text-align: center;
}



