.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
}

.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: var(--space-2);
  border-radius: var(--radius-round);
  position: relative;
  transition: 0.3s ease;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
  overflow: hidden;
  &:hover {
    overflow: visible;
  }
  &:nth-child(2) {
    animation-delay: 0.2s;
  }
  &:nth-child(3) {
    animation-delay: 0.4s;
  }
  &::after {
    content: attr(arr);
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -150%) rotate(-30deg);
    color: #fff;
    padding: var(--space-2) var(--space-4);
    border-radius: var(--radius-lg);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-bold);
    box-shadow: var(--shadow-lg);
    opacity: 0;
    transition: 0.1s ease-out;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-30deg);
    border: 20px solid transparent;
    opacity: 0;
    transition: 0.1s ease-out;
  }
}

.social a:first-child:hover,
.social a:first-child:hover::after {
  background-color: green;
  color: #fff;
}

.social a:first-child::before {
  border-top-color: green;
}

.social a:nth-child(2):hover,
.social a:nth-child(2)::after {
  background-color: #ccaa00;
  color: #fff;
}

.social a:nth-child(2)::before {
  border-top-color: #ccaa00;
}

.social a:last-child:hover,
.social a:last-child::after {
  background-color: #ea4335;
  color: #fff;
}

.social a:last-child:before {
  border-top-color: #ea4335;
}

.social a:hover::before,
.social a:hover::after {
  opacity: 1;
}

.social a:hover::before {
  transform: translate(-50%, -50%);
}

.social a:hover::after {
  transform: translate(-50%, -150%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
