footer {
  background-color: var(--primary);
  color: var(--bg-color);
  padding: var(--space-10) 0;
  color: #fff;
}

footer * {
  color: inherit;
}

footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--space-6);
  color: #fff;
}

footer .container .about {
  grid-column: 1 / -1;
}
footer .container .about p {
  text-wrap: balance;
  font-weight: var(--font-weight-medium);
}
footer .container h3 {
  margin-bottom: var(--space-3);
}
footer .container a {
  font-weight: var(--font-weight-bold);
  margin-right: var(--space-2);
  text-wrap: balance;
}

footer .container  ul li {
  margin-bottom: var(--space-3);
  font-size: var(--font-size-body);
}

footer .container img {
transform: translateX(20px);
object-fit: cover;
grid-column: 1 / -1;
}

footer .container .social div  {
  justify-content: flex-start;
}
/* End Footer Style*/

footer .end p {
  margin: 0;
  color: #fff;
  font-weight: var(--font-weight-medium);
}

@media (max-width: 900px) {
footer .end {
  flex-direction: column-reverse;
  align-items: center;
  gap: var(--space-4);
}
}