.stepsSection {
  text-align: center;
}

.stepsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--space-6);
}

.stepCard {
  background: inherit;
  padding: var(--space-6);
  color: var(--text-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-4);
  opacity: 0;
  transition: all 0.8s ease;
  transform: translateY(30px);

  &.animate {
    opacity: 1;
    transform: translateY(0);
  }
}


.stepCard img {
  width: 200px;
  height: 60px;
}

.stepDescription {
  color: #666;
}

.stepButton {
  display: block;
  color: var(--tertiary);
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-bold);
}

@media (max-width: 768px) {
  
}
