.addArtical {
    display: flex;
    box-shadow: var(--shadow-lg);
    padding: var(--space-8);
    flex-direction: column;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--bg-color);
    border-radius: var(--radius-lg);
}

.addArtical header h3 {
    margin: 0;
    color: var(--primary);
}

.addArtical header span {
    color: var(--primary);
    cursor: pointer;
}

.addArtical form label {
    font-size: var(--font-size-body);
    margin-bottom: var(--space-2);
}

.addArtical form .form_group {
    margin: var(--space-4) 0;
}

.addArtical form input,
.addArtical form textarea {
    border-radius: var(--radius-sm);
    padding: var(--space-2) var(--space-4);
    border: 1px solid #aaa;
    width: 100%;
    color: var(--text-dark);
}


.addArtical form input:focus ,
.addArtical form textarea:focus {
    outline-color: var(--primary);
}

.addArtical form textarea {
    height: 140px;
}


.addArtical form .form_group input[type='file'] {
    opacity: 1;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}