/* Start KIPS Section Style */
.kpis {
    border-bottom: 2px solid var(--bg-color-alt);
    padding: 10px;
}
/* End KIPS Section Style */

/* Start KIPS Header Style */
.kpis header {
    margin-bottom: var(--space-4);
}

.kpis header h2 {
    color: var(--primary);
    text-shadow: var(--text-shadow);
}

/* End KIPS Header Style */

/* Start KIPS Container Grid Style */
.kpis .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: var(--space-6);
}
/* End KIPS Container Grid Style */

/* Start KIPS Cards Style */
.kpis .grid .card {
    padding: var(--space-4) var(--space-12);
    border-radius: var(--radius-lg);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .2s ease;
    opacity: 0;
    animation: fadeIn 2s ease-in-out;
    animation-fill-mode: forwards;
}

.kpis .grid .card:first-child {
    background-color: rgba(25,118,210,0.5);
}

.kpis .grid .card:nth-child(2) {
    background-color: rgba(25,118,210,0.6);
}

.kpis .grid .card:nth-child(3) {
    background-color:  #ffdaae;
}
.kpis .grid .card:nth-child(4) {
    background-color: #f7e9b6;
}

.kpis .grid .card:hover {
    border-color: var(--primary);
    box-shadow: var(--shadow-primary);
    background-color: var(--primary);
    color: #fff;
}

.kpis .grid .card h3 {
    color: inherit;
}
.kpis .grid .card p {
    text-align: center;
    color: inherit;
}

.kpis .grid .card p.value {
    font-size: var(--font-size-h5);
}

.kpis .grid .card p.positive {
    font-size: var(--font-size-body);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-2);
    font-weight: var(--font-wight-bold);
}

.kpis .grid .card p.green {
    color: var(--success);
}

.kpis .grid .card p.red {
    color: var(--danger);
}

.kpis .grid .card .icon {
    font-size: var(--font-size-h6);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(8px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
    
}
/* End KIPS Cards Style */