:root {
  --main-color: #2d5c7f;
  --secondary-color: #ff8f56;
  --sub-color: #fff1a8;
  --background-color: #fff;
  --text-color: #333333;
  --cta-color: #1e4e5f;
  --cta-hover: #245d70;
  --box-shadow: 0 0 30px rgb(0, 0, 0, 0.1);
  --s-radius: 8px;
  --m-radius: 12px;
  --l-radius: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  direction: rtl;
  height: 100vh;
  width: 100vw;
  font-family: "Tajawal", sans-serif;
  overflow-x: hidden;
}

section {
  padding-top: 60px;
}

.container {
  width: 80%;
  margin: auto;
}

a {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}
.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-section h2 {
  font-size: 3rem;
  color: var(--main-color);
  margin-bottom: 12px;
  position: relative;
}

.header-section h2::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 25%;
  width: 50%;
  height: 2px;
  background-color: var(--main-color);
  margin-bottom: 24px;
}

.header-section p {
  color: var(--text-color);
  font-size: 1rem;
}

.page-header {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.page-header .container {
  z-index: 2;
  text-align: center;
  color: #fff;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header .container h2 {
  font-size: 2rem;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
.header-section h2 {
  font-size: 1.5rem;
}
}
.page-header .container p {
  font-size: 1.2rem;
  line-height: 1.7;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-align {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-b {
  font-weight: bold;
}

.hover {
  transition: .5s ease;
}

.hover:hover {
  transform: scale(1.02);
}

/* margin tob and bottom */
.m-t-b-4 {
  margin: 4px 0;
}

.m-t-b-8 {
  margin: 8px 0;
}

.m-t-b-12 {
  margin: 12px 0;
}

.m-t-b-16 {
  margin: 16px 0;
}
.m 
/* margin left and right */
.m-l-r-4 {
  margin: 0 4px;
}

.m-l-r-8 {
  margin: 0 8px;
}

.m-l-r-12 {
  margin: 0 12px;
}

.m-l-r-16 {
  margin: 0 16px;
}

/* margin left*/
.m-l-4 {
  margin-left: 4px;
}

.m-l-8 {
  margin-left: 8px;
}

.m-l-12 {
  margin-left: 12px;
}

.m-l-16 {
  margin-left: 16px;
}

/* margin right*/
.m-r-4 {
  margin-right: 4px;
}

.m-r-8 {
  margin-right: 8px;
}

.m-r-12 {
  margin-right: 12px;
}

.m-r-16 {
  margin-right: 16px;
}

/*margin top*/
.m-t-4 {
  margin-top: 4px;
}

.m-t-8 {
  margin-top: 8px;
}

.m-t-12 {
  margin-top: 12px;
}

.m-t-16 {
  margin-top: 16px;
}


/*margin bottom*/
.m-b-4 {
  margin-bottom: 4px;
}

.m-b-8 {
  margin-bottom: 8px;
}

.m-b-12 {
  margin-bottom: 12px;
}

.m-b-16 {
  margin-bottom: 16px;
}

/* padding */
/* padding tob and bottom */
.p-t-b-4 {
  padding: 4px 0;
}
.p-t-b-8 {
  padding: 8px 0;
}
.p-t-b-12 {
  padding: 12px 0;
}
.p-t-b-16 {
  padding: 16px 0;
}

/* padding left and right */
.p-l-r-4 {
  padding: 0 4px;
}
.p-l-r-8 {
  padding: 0 8px;
}
.p-l-r-12 {
  padding: 0 12px;
}
.p-l-r-16 {
  padding: 0 16px;
}

/* padding left*/
.p-l-4 {
  padding-left: 4px;
}
.p-l-8 {
  padding-left: 8px;
}
.p-l-12 {
  padding-left: 12px;
}
.p-l-16 {
  padding-left: 16px;
}

/* padding right*/
.p-r-4 {
  padding-right: 4px;
}

.p-r-8 {
  padding-right: 8px;
}

.p-r-12 {
  padding-right: 12px;
}

.p-r-16 {
  padding-right: 16px;
}

/*padding top*/
.p-t-4 {
  padding-top: 4px;
}
.p-t-8 {
  padding-top: 8px;
}
.p-t-12 {
  padding-top: 12px;
}
.p-t-16 {
  padding-top: 16px;
}


/*padding bottom*/
.p-b-4 {
  padding-bottom: 4px;
}
.p-b-8 {
  padding-bottom: 8px;
}
.p-b-12 {
  padding-bottom: 12px;
}
.p-b-16 {
  padding-bottom: 16px;
}