:root {
  /* Typography*/
--font-size-h1: clamp(2.8rem, 5vw, 6rem);
--font-size-h2: clamp(2.4rem, 4vw, 5rem);
--font-size-h3: clamp(2rem, 3vw, 3.2rem);
--font-size-h4: clamp(1.8rem, 2.5vw, 2.8rem);
--font-size-h5: clamp(1.6rem, 2vw, 2.4rem);
--font-size-h6: clamp(1.4rem, 1.8vw, 2rem);
--font-size-body: clamp(1.6rem, 1.5vw, 1.6rem);
--font-size-small: clamp(1rem, 1.2vw, 1.4rem);
--font-size-tiny: clamp(0.9rem, 1vw, 1.2rem);
--font-family-base: "Tajawal", sans-serif; 
--font-weight-regular: 400; 
--font-weight-medium: 500; 
--font-weight-bold: 700;
  /*====================*/
  --line-hght: 1.6;

  /* Spacing */
  --space-1: 0.4rem;
  --space-2: 0.8rem;
  --space-3: 1.2rem;
  --space-4: 1.6rem;
  --space-5: 2rem;
  --space-6: 2.4rem;
  --space-7: 2.8rem;
  --space-8: 3.2rem;
  --space-9: 3.6rem;
  --space-10: 4rem;
  --space-11: 4.4rem;
  --space-12: 4.8rem;

  /* Colors */
  --primary: #3898ec;
  --primary-dark: #004da0;
  --secondary: #4caf50;
  --tertiary: #00bbd9;
  --complemntary: #ff9800;
  --success: #2e7d32;
  --danger: #d32f2f;
  --danger-dark: #b71c1c;
  --warning-color: #ed6c02;
  --disabled-bg: rgba(0, 0, 0, 0.12);
  --disabled-text: rgba(0, 0, 0, 0.26);
  --bg-color: #fff;
  --bg-dark: #1a1e23;
  --bg-color-alt: #eee;
  --text-dark: #666;

  /* Color Effect */
  --blue-effect: rgba(25, 118, 210, 0.08);

  /* Borders */
  --radius-sm: 0.4rem;
  --radius-md: 0.8rem;
  --radius-lg: 1.2rem;
  --radius-round: 50%;

  /* Shadows */
  --shadow-sm: 0 0px 2px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 0px 8px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 0px 16px rgba(0, 0, 0, 0.1);
  --shadow-primary: 0 0px 8px rgba(25, 118, 210, 0.5);
  --text-shadow: -3px -3px 6px hsl(from var(--primary) h s l / .3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-dark);
  direction: rtl;
  height: 100vh;
  width: 100vw;
  font-family: var(--font-family-base);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary); 
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-dark); 
}

body *:not(select) {
  color: inherit;
}

.container {
  max-width: 90%;
  margin: auto;
}

@media (max-width: 900px) {
  .mobile-hide {
    display: none;
  }
}

section.s-padding {
  padding: calc(12 * var(--space-2)) 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: var(--text-dark);
  font-weight: var(--font-weight-bold);
  text-shadow: var(--text-shadow);
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: 1000;
  text-shadow: var(--text-shadow);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

p {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-hght);
  color: var(--text-dark);
  margin-bottom: var(--space-4);
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  cursor: pointer;
}

ul {
  list-style: none;
}

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--space-8);
}

.header-section h2 {
  color: var(--primary);
  position: relative;
  text-align: center;
}

.header-section p {
  text-align: center;
  font-size: var(--font-size-h6);
  color: var(--text-dark);
}

.page-header {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.page-header .container {
  z-index: 2;
  text-align: center;
  color: #fff;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header .container * {
  color: inherit;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-align {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-b {
  font-weight: bold;
}

/* margin tob and bottom */
.m-t-b-4 {
  margin: 4px 0;
}

.m-t-b-8 {
  margin: 8px 0;
}

.m-t-b-12 {
  margin: 12px 0;
}

.m-t-b-16 {
  margin: 16px 0;
}
.m 
/* margin left and right */
.m-l-r-4 {
  margin: 0 4px;
}

.m-l-r-8 {
  margin: 0 8px;
}

.m-l-r-12 {
  margin: 0 12px;
}

.m-l-r-16 {
  margin: 0 16px;
}

/* margin left*/
.m-l-4 {
  margin-left: 4px;
}

.m-l-8 {
  margin-left: 8px;
}

.m-l-12 {
  margin-left: 12px;
}

.m-l-16 {
  margin-left: 16px;
}

/* margin right*/
.m-r-4 {
  margin-right: 4px;
}

.m-r-8 {
  margin-right: 8px;
}

.m-r-12 {
  margin-right: 12px;
}

.m-r-16 {
  margin-right: 16px;
}

/*margin top*/
.m-t-4 {
  margin-top: 4px;
}

.m-t-8 {
  margin-top: 8px;
}

.m-t-12 {
  margin-top: 12px;
}

.m-t-16 {
  margin-top: 16px;
}

/*margin bottom*/
.m-b-4 {
  margin-bottom: 4px;
}

.m-b-8 {
  margin-bottom: 8px;
}

.m-b-12 {
  margin-bottom: 12px;
}

.m-b-16 {
  margin-bottom: 16px;
}

/* padding */
/* padding tob and bottom */
.p-t-b-4 {
  padding: 4px 0;
}
.p-t-b-8 {
  padding: 8px 0;
}
.p-t-b-12 {
  padding: 12px 0;
}
.p-t-b-16 {
  padding: 16px 0;
}

/* padding left and right */
.p-l-r-4 {
  padding: 0 4px;
}
.p-l-r-8 {
  padding: 0 8px;
}
.p-l-r-12 {
  padding: 0 12px;
}
.p-l-r-16 {
  padding: 0 16px;
}

/* padding left*/
.p-l-4 {
  padding-left: 4px;
}
.p-l-8 {
  padding-left: 8px;
}
.p-l-12 {
  padding-left: 12px;
}
.p-l-16 {
  padding-left: 16px;
}

/* padding right*/
.p-r-4 {
  padding-right: 4px;
}

.p-r-8 {
  padding-right: 8px;
}

.p-r-12 {
  padding-right: 12px;
}

.p-r-16 {
  padding-right: 16px;
}

/*padding top*/
.p-t-4 {
  padding-top: 4px;
}
.p-t-8 {
  padding-top: 8px;
}
.p-t-12 {
  padding-top: 12px;
}
.p-t-16 {
  padding-top: 16px;
}

/*padding bottom*/
.p-b-4 {
  padding-bottom: 4px;
}
.p-b-8 {
  padding-bottom: 8px;
}
.p-b-12 {
  padding-bottom: 12px;
}
.p-b-16 {
  padding-bottom: 16px;
}
